.venv/
*.log
*.json
datasets/
__pycache__/
!logs/*.log
results/raytune/**
!results/raytune/**/
!results/raytune/**/best_config.json
!results/raytune/**/best_configv2.json
!results/raytune/**/removed_features_best_config.json
!results/raytune/**/*improved_removed_features_best_config.json
results/**/new_config/
.idea/
*.pt
.python-version
results/images/tuned/
notebooks/various-tests.ipynb